<section class="section-1">
  <img src="assets/banner.png" alt="Banner da pagina" />
  <div class="info">
    <span>SOFTWARE DEVELOPER</span>
    <h1>André Lima</h1>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt.
    </p>
    <button>Contact Me</button>
  </div>
</section>
<section class="section-2">
  <h2>About me</h2>
  <p>
    The long barrow was built on land previously inhabited in the Mesolithic
    period. It consisted of a sub-rectangular earthen tumulus, estimated to have
    been 15 metres (50 feet) in length, with a chamber built from sarsen
    megaliths on its eastern end. Both inhumed and cremated human remains were
    placed within this chamber during the Neolithic period, representing at
    least nine or ten individuals.
  </p>
</section>
<section class="section-3">
  <h2>Projects</h2>
  <div class="cards">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="btn">
    <button>SEE ALL PROJECTS</button>
  </div>
</section>
