@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&displa";
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700;800&display=swap";

:root {
  --primary-text: #1f2626;
  --secondary-text: #151717;
  --button-white: #dbffff;
  --gradiente-color: linear-gradient(90deg, #5222d0 -0.16%, #ff6196 100.16%);
  --primary-color: #8455ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
